.container{
    display: flex;
}
.card{
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: #000000;
    flex: 1;
    transition: .3 all ease;
}
.card :hover{
    flex: 2;
    background-color: rgb(0, 0, 0);
}